* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
* text=auto
*.php text
*.js text
*.css text
*.html text
*.vue text
*.md text


/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
